<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="UserMapper.xml"/>
    <mapper resource="ContentMapper.xml"/>
    <mapper resource="ProfileMapper.xml"/>
    <mapper resource="WishMapper.xml"/>
    <mapper resource="LikeMapper.xml"/>
  </mappers>
</configuration>